
::-webkit-input-placeholder {
   color: black;
   margin-left none
   padding-left none
   text-indent: 0px
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}



.form-success, .form-error
  min-height: 400px
  animation fadeIn ease-in 1;
  animation-duration:1s;
  animation-fill-mode:forwards;
  text-align center
  h3
    box-sizing border-box
    padding-bottom: 20px
    display table
    font-size: 32px;
    text-align center
    width 100%
  p 
    line-height: 25px;
    a
      color white
form
  box-sizing border-box
  height 940px
  position relative
  background rgba(0, 0, 0, 0) none no-repeat scroll 0% 0% / auto padding-box border-box
  font normal normal normal normal 14px / 21px Galaxie
  margin 0px
  font-family: 'FoundersGrotesk', Helvetica, Arial, sans-serif !important
  width 700px
  +below(980px)
    width 93%
  +below(980px)
    width 89%
  +mobile()
    width 100%
  input[type=submit]
    font-size medium
    text-align center
    clear both
    color white
    cursor pointer
    box-sizing border-box
    cursor pointer
    display inline-block
    height 54px
    position relative
    text-decoration none
    background black
    border 1px solid black
    font normal normal bold normal 13px / 54px 'FoundersGrotesk', Helvetica, Arial, sans-serif 
    outline rgb(255, 255, 255) none 0px
    padding 0px 85px
    transition background-color 0.3s ease 0s, opacity 0.3s ease 0s
    font-size medium
    margin-top: 50px
    border-radius 1px
    +mobile()
      width 100%
    &:hover
      background #2F2F2F
      color rgb(255, 255, 255)
  .field__validation
    color red
  .form__header
    margin-top 180px
  fieldset
    box-sizing border-box
    background rgba(0, 0, 0, 0) none no-repeat scroll 0% 0% / auto padding-box border-box
    border 0px none rgb(0, 0, 0)
    margin 0px
    padding 0px
    clear both
    width 100%
  h3
    box-sizing border-box
    padding-bottom: 20px
    display table
    font-size: 32px;
    text-align center
    float left
    margin 0px 0px 40px 0px
  .req
    text-align right
    color grey
    margin-right: -32px;
    padding-bottom: 10px;
    +mobile()
      margin-right 0px
  input[type=text],input[type=email],input[type=tel],input[type=url]
    clear left
    color black !important
    display block
    height 33px
    position relative
    width 100%
    border none
    margin 0px 0px 24px
    outline rgb(51, 51, 51) none 0px
    padding 20px 32px 4px 0px;
    font-size medium
    border-bottom: 1px solid black;
    +mobile()
      width: 79%;
      height: 15px;
  input[type=file]
    width 0.1px
    height 0.1px
    opacity 0
    overflow hidden
    position absolute
    z-index -1
    +mobile()
      width 100%
  .input-wrapper
    box-sizing border-box
    float left
    height 82px
    margin 0px 16px 24px 0px
    +mobile()
      margin 0px 0px 24px 0px
    span
      box-sizing border-box
      color grey
      display block
      text-align center
      font normal 12px / 18px 'FoundersGrotesk', Helvetica, Arial, sans-serif 
      margin 10px 0px 0px
      
  a, .file__label
    box-sizing border-box
    color black
    cursor pointer
    display inline-block
    height 54px
    position relative
    text-decoration none
    background white
    border 1px solid black
    font normal normal bold normal 13px / 54px 'FoundersGrotesk', Helvetica, Arial, sans-serif 
    outline rgb(255, 255, 255) none 0px
    padding 0px 32px
    transition background-color 0.3s ease 0s, opacity 0.3s ease 0s
    font-size medium
    border-radius: 1px;
    &:hover
      background #2F2F2F
      color rgb(255, 255, 255)
  .file__label
    +mobile()
      padding: 0px 92px;
      white-space: nowrap;
  .file__label[for="cover_letter"]
    +mobile()
      padding: 0px 81px;


