@import 'jeet'
@import 'nib'

global-reset()

@font-face {
  font-family: 'FoundersGrotesk'
  src: url('/fonts/FoundersGroteskWeb-Regular.eot')
  /* IE9 Compat Modes */
  src: url('/fonts/FoundersGroteskWeb-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/FoundersGroteskWeb-Regular.woff') format('woff')
  /* Pretty Modern Browsers */ }
  	
.button
	background: #FFFFFF;
	text-decoration: none;
	padding: 13px 48px;
	font-size: 19px;
	transition all .3s
	color: black
	&:visited, &:active, &:focus
		color black
	&:hover
		background #2F2F2F
		color white
	
	

html
	font-family: 'FoundersGrotesk', Helvetica, Arial, sans-serif
	background: #000
	height: auto
	body
		+below(500px)
			padding: 27px;
		padding: 75px 100px
		background:#000
		position: relative
		box-sizing: border-box
		min-height: 100vh
		height: 100%
		width: 100%
		font-family: 'FoundersGrotesk', Helvetica, Arial, sans-serif
		color white
	
  
// .main-container