@import 'jeet'

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@keyframes fadeOutAndHide { 0% { opacity:1; } 98% { opacity:0; } 100% { display: none; } }

.parallax__group
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

body.careers
	padding:0px

// slides
.intro
	background: url('../../images/carreers.bg.1.jpg') no-repeat
	background-size cover
	height: 500px; /* fallback for older browsers */
	height: 100vh;
	+below(630px)
		height: 465px;
.careers
	min-height 500px
.careers-container-departments
	color: white
	height: auto;
	padding-bottom: 100px;
	animation fadeIn ease-in 1;
	animation-duration:1s;
	animation-fill-mode:forwards;
	cf()
	& .error_state
		display none
		min-height: 400px
		animation fadeIn ease-in 1;
		animation-duration:1s;
		animation-fill-mode:forwards;
		text-align center
		h3
			box-sizing border-box
			padding-bottom: 20px
			display table
			font-size: 32px;
			text-align center
			width 100%
		p 
			line-height: 25px;
			a
				color white
	&.show-error
		.error_state
			display block !important
	.logo
		width: 99px
		height: 37px;
		background: url('../../images/elephant_logo.svg') no-repeat
		background-size: 99px 37px;
		text-indent: -9999px;
		overflow hidden
		position fixed
		z-index 1
		top 60px
		left 5%
		+below(630px)
			margin 0px auto
			left: 50%;
			margin-left: -92px;
			width: 182px;
			height: 67px;
			background-size: contain
			position: absolute;
	.headline__holder
		margin-top: -6%;
		align(both)
		+below(630px)
			margin-top: 85px;
		.button
			background none
			border 1px solid white
			color white !important
			font-weight 100
			letter-spacing: 0.1em;
			border-radius 1px
			+below(630px)
				display: inline-block
				width: 207px
			&:hover span
				opacity .6
		.headline
			letter-spacing 0.0625em
			font-size:4vw;
			margin: 0px auto;
			width: 100%;
			padding-bottom: 75px
			text-align: left;
			animation fadeIn ease-in 1;
			animation-duration:1s;
			animation-fill-mode:forwards;
			line-height: 1.3em;
			font-weight: 100;
			+below(630px)
				font-size 0.48em
				width: 81%
				padding-bottom: 65px;
			&:before
				content "__"
				position absolute
				margin-left -39px
				letter-spacing 0px
				font-size 28px
				font-family arial-light
				margin-top 5px
		+mobile()
			font-size 44px
			padding-bottom: 45px
	.departments
		center(650px)
		margin-top: 8%;
		li.department
			line-height: 1.3em;
			font-weight: 100;
			letter-spacing 0.0625em
			font-size: 1.1em;
			margin-bottom 28px
			&:hover
				h4
					opacity:0.6
			&.show
				&:before
					content "__"
					-webkit-font-smoothing: antialiased;
					position absolute
					margin-left -39px
					letter-spacing -1px
					font-size 28px
					font-family arial-light
					margin-top 0px
				.jobs
					display block
			.openingCount
				font-size: .45em;
				float right
			a
				color white
				text-decoration none
			.jobs
				margin-top 20px
				display none					
			.job
				line-height: 30px;
				&:hover
					opacity .6
				cf()
				.jobtitle, .location
					font-size: .45em;
				.location
					float right
				.jobtitle
					float left
			